# dependencies
node_modules
dist

# testing
coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# turbo
.turbo

.contentlayer
tsconfig.tsbuildinfo

