@import './twoslash.css';

.code-block {
  --fade-width: 0px;
  --code-padding-right: 48px;
}

:not(.code-block) > [data-component-part='code-block-root'] {
  --code-padding-right: 48px;
}

.code-block:has([data-floating-buttons] > :nth-child(1):last-child) {
  --fade-width: 99px;
  --code-padding-right: 99px;
}

.code-block:has([data-floating-buttons] > :nth-child(2):last-child) {
  --fade-width: 131px;
  --code-padding-right: 131px;
}

.code-block:has([data-floating-buttons] > :nth-child(3):last-child) {
  --fade-width: 163px;
  --code-padding-right: 163px;
}

.code-block:has([data-component-part='code-block-root'].code-block-wrap) {
  --code-padding-right: 0px !important;
}

[data-fade-overlay] {
  @apply absolute top-0 right-0 h-[44px] pointer-events-none z-[1] rounded-tr-2xl rounded-br-xl;

  width: var(--fade-width, 0px);
  background: linear-gradient(
    to right,
    transparent 0px,
    color-mix(in srgb, var(--fade-color-light, var(--background-light)) 20%, transparent) 10px,
    color-mix(in srgb, var(--fade-color-light, var(--background-light)) 50%, transparent) 25px,
    color-mix(in srgb, var(--fade-color-light, var(--background-light)) 80%, transparent) 35px,
    var(--fade-color-light, var(--background-light)) 45px
  );
}

html.dark [data-fade-overlay] {
  background: linear-gradient(
    to right,
    transparent 0px,
    color-mix(in srgb, var(--fade-color-dark, var(--background-dark)) 20%, transparent) 10px,
    color-mix(in srgb, var(--fade-color-dark, var(--background-dark)) 50%, transparent) 25px,
    color-mix(in srgb, var(--fade-color-dark, var(--background-dark)) 80%, transparent) 35px,
    var(--fade-color-dark, var(--background-dark)) 45px
  );
}

:has([data-floating-buttons]) > [data-component-part='code-block-root'] pre > code {
  padding-right: var(--code-padding-right, 0px) !important;
}

:has([data-component-part='code-block-header'])
  > [data-component-part='code-block-root']
  pre
  > code {
  padding-right: var(--code-padding-right, 48px) !important;
}

[data-component-part='code-block-root'] pre > code > span.line-highlight,
[data-component-part='code-block-root'] pre > code > span.line-diff {
  min-width: calc(100% + var(--code-padding-right, 0px));
}

html.dark .shiki,
html.dark .shiki span {
  position: relative;
  color: var(--shiki-dark) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

pre.shiki {
  background-color: transparent !important;
}

html.dark .shiki .line-highlight span {
  background-color: transparent !important;
}

html.dark .code-block-background {
  background-color: var(--shiki-dark-bg) !important;
}

.code-block:has(.line-diff) [data-fade-overlay] {
  background: transparent !important;
}

html.dark,
html:not(.dark) .codeblock-dark {
  pre.shiki > code {
    position: relative;
    z-index: 1;
    display: block;
    width: max-content;
    min-width: 100%;
  }

  pre[class^='language-diff-'] {
    @apply flex px-9;
  }

  pre[class^='language-diff-'] > code {
    @apply flex-none min-w-full;
  }
}

html:not(.dark) .codeblock-light {
  pre.shiki > code {
    position: relative;
    z-index: 1;
    display: block;
    width: max-content;
    min-width: 100%;
  }

  pre[class^='language-diff-'] {
    @apply flex px-9;
  }

  pre[class^='language-diff-'] > code {
    @apply flex-none min-w-full;
  }
}

/* Lines of code outside code blocks. Generated when you use single ticks: `example` */
:not(pre) > code {
  @apply break-words rounded-md px-2 py-0.5 text-gray-600 dark:text-gray-200 dark:border-gray-800 bg-gray-100/50 dark:bg-white/5;
}

:not(pre) > code:before,
:not(pre) > code:after {
  content: none !important;
}

/* text wrapping for code blocks */
.code-block-wrap pre.shiki > code {
  width: 100% !important;
  padding-right: 0 !important;
  > .line-highlight {
    padding-right: 3rem !important;
  }
}
.code-block-wrap pre.shiki .line span {
  white-space: pre-wrap !important;
  word-break: break-word;
}

/* line focus */
.has-focused pre.shiki > code .line {
  filter: blur(0.1rem);
  transition:
    filter 0.35s,
    opacity 0.35s;

  &:hover {
    filter: blur(0);
  }
}

.has-focused pre.shiki:hover > code .line {
  filter: blur(0);
}

.has-focused pre.shiki > code .line-focus {
  filter: blur(0);
}

/* line highlighting (without line numbers) */
[data-component-part='code-block-root']:not(.has-line-numbers) {
  .line-highlight {
    background: color-mix(in srgb, var(--color-primary-light) 20%, transparent) !important;
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1rem;
      background: color-mix(in srgb, var(--color-primary-light) 20%, transparent) !important;
    }

    &::before {
      left: -1rem;
      border-left: 1px solid var(--color-primary-light);
    }

    &::after {
      right: -1rem;
    }
  }

  .line-diff {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 0;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1rem;
      width: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1rem;
      width: 1rem;
    }

    &.line-add {
      background: rgb(34 197 94 / 0.15) !important;

      &::before {
        content: '+';
        background: rgb(34 197 94 / 0.15) !important;
        border-left: 1px solid rgb(34 197 94 / 0.8);
        color: rgb(34 197 94);
      }

      &::after {
        background: rgb(34 197 94 / 0.15) !important;
      }
    }

    &.line-remove {
      background: rgb(239 68 68 / 0.15) !important;

      &::before {
        content: '-';
        background: rgb(239 68 68 / 0.15) !important;
        border-left: 1px solid rgb(239 68 68 / 0.8);
        color: rgb(239 68 68);
      }

      &::after {
        background: rgb(239 68 68 / 0.15) !important;
      }
    }
  }
}

/* line numbers */
.has-line-numbers pre.shiki > code {
  counter-reset: step;
  counter-increment: step 0;
}

.has-line-numbers pre.shiki > code > .line::before {
  content: counter(step);
  counter-increment: step;
  width: 0.6rem;
  margin-right: 1.1rem;
  display: inline-block;
  text-align: right;
  user-select: none;
  .dark & {
    color: var(--shiki-dark) !important;
  }
  :not(.dark) & {
    color: var(--shiki-light) !important;
    opacity: 0.4 !important;
  }
}

/* line numbers + highlighting */
.has-line-numbers .line-highlight {
  width: 100%;
  display: inline-block;
  position: relative;

  &::before {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1rem;
    right: -1rem;
    background: color-mix(in srgb, var(--color-primary-light) 20%, transparent) !important;
    border-left: 1px solid var(--color-primary-light);
    z-index: -1;
  }
}

.has-line-numbers .line-diff {
  width: 100%;
  display: inline-block;
  position: relative;

  &.line-add::before {
    content: '+' !important;
  }

  &.line-remove::before {
    content: '-' !important;
  }

  &.line-add::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1rem;
    right: -1rem;
    background: rgb(34 197 94 / 0.15) !important;
    border-left: 1px solid rgb(34 197 94 / 0.8);
    z-index: -1;
  }

  &.line-remove::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1rem;
    right: -1rem;
    background: rgb(239 68 68 / 0.15) !important;
    border-left: 1px solid rgb(239 68 68 / 0.8);
    z-index: -1;
  }
}

.nct-inline-flex {
  z-index: -9999;
}

code[data-symbols='true'] {
  @apply font-[inherit];
}
