/* modified from https://github.com/shikijs/shiki/blob/main/packages/twoslash/style-rich.css */
/* ===== Basic ===== */
:root {
  --twoslash-border-color: #dbdfde;
  --twoslash-underline-color: currentColor;
  --twoslash-popup-bg: #f3f7f6;
  --twoslash-popup-color: inherit;
  --twoslash-popup-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --twoslash-code-font: inherit;
  --twoslash-code-font-size: 1em;
  --twoslash-matched-color: inherit;

  --twoslash-highlighted-border: #c37d0d50;
  --twoslash-highlighted-bg: #c37d0d20;
  --twoslash-unmatched-color: #888;
  --twoslash-cursor-color: #8888;
  --twoslash-error-color: #d45656;
  --twoslash-error-bg: #d4565620;
  --twoslash-warn-color: #c37d0d;
  --twoslash-warn-bg: #c37d0d20;
  --twoslash-tag-color: #3772cf;
  --twoslash-tag-bg: #3772cf20;
  --twoslash-tag-warn-color: var(--twoslash-warn-color);
  --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
  --twoslash-tag-annotate-color: #1ba673;
  --twoslash-tag-annotate-bg: #1ba67320;
  --twoslash-text-size: 0.8rem;
  --twoslash-docs-tag-style: italic;
}

:root.twoslash-dark,
html.dark div.twoslash-dark,
html.dark div.dark\:twoslash-dark {
  --twoslash-border-color: #222526;
  --twoslash-popup-bg: #151819;
  --twoslash-highlighted-border: #ffa50080;
  --twoslash-highlighted-bg: #ffa50030;
  --twoslash-unmatched-color: #aaa;
  --twoslash-cursor-color: #bbbb;
  --twoslash-error-color: #ff6b6b;
  --twoslash-error-bg: #ff6b6b30;
  --twoslash-warn-color: #ffa500;
  --twoslash-warn-bg: #ffa50030;
  --twoslash-tag-color: #6bb6ff;
  --twoslash-tag-bg: #6bb6ff30;
  --twoslash-tag-warn-color: var(--twoslash-warn-color);
  --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
  --twoslash-tag-annotate-color: #4ade80;
  --twoslash-tag-annotate-bg: #4ade8030;
}

/* Respect people's wishes to not have animations */
@media (prefers-reduced-motion: reduce) {
  .twoslash * {
    transition: none !important;
  }
}

/* ===== Hover Info ===== */
.twoslash:hover .twoslash-hover {
  border-color: var(--twoslash-underline-color);
}

.twoslash .twoslash-hover {
  border-bottom: 1px dotted transparent;
  transition-timing-function: ease;
  transition: border-color 0.3s;
  position: relative;
}

.twoslash a span.twoslash-hover {
  border-bottom: 1px solid var(--twoslash-underline-color);
  position: relative;
}

.twoslash a span.twoslash-hover:hover {
  opacity: 0.75;
}

.twoslash-popup-container .code-block {
  width: 100%;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mint-twoslash-popover div[data-component-part='code-block-root'] {
  width: 100%;
}

/* ===== Popup Override ===== */
[data-radix-popper-content-wrapper] {
  z-index: 9999 !important;
}

.mint-twoslash-popover {
  background: var(--twoslash-popup-bg);
  color: var(--twoslash-popup-color);
  border: 1px solid var(--twoslash-border-color);
  border-radius: 10px;
  font-size: var(--twoslash-text-size) !important;
  pointer-events: auto;
  text-align: left;
  box-shadow: var(--twoslash-popup-shadow);
  display: inline-flex;
  flex-direction: column;
  padding: 6px;
  max-width: 50vw;
}

.mint-twoslash-popover-pre {
  width: 100%;
  display: flex;
  font-size: var(--twoslash-text-size);
  font-family: var(--twoslash-code-font);
  font-weight: 400;
}

.mint-twoslash-popover code {
  padding: 0 !important;
  background: transparent !important;
}

code.twoslash-popup-code.shiki {
  padding: 8px !important;
}

.mint-twoslash-popover:hover {
  user-select: auto;
}

.twoslash .twoslash-popup-arrow {
  display: none;
}

.twoslash-popup-code,
.twoslash-popup-error,
.twoslash-popup-docs {
  padding: 6px 8px !important;
}

.mint-twoslash-popover .twoslash-popup-docs {
  max-width: unset;
}

.mint-twoslash-popover .twoslash-popup-error {
  color: var(--twoslash-error-color);
  background-color: var(--twoslash-error-bg);
}

.mint-twoslash-popover .twoslash-popup-docs-tags {
  display: flex;
  flex-direction: column;
}

.mint-twoslash-popover .twoslash-popup-docs-tag-name {
  margin-right: 0.5em;
  font-style: var(--twoslash-docs-tag-style);
}

.mint-twoslash-popover .twoslash-popup-docs-tag-name {
  font-family: var(--twoslash-code-font);
}

/* ===== Query Line ===== */
.mint-twoslash-popover .twoslash-query-line .twoslash-popup-container {
  position: relative;
  margin-bottom: 1.4em;
  transform: translateY(0.6em);
}

div.twoslash-meta-line.twoslash-query-line {
  display: contents;
}

/* ===== Error Line ===== */
.twoslash-error-line {
  position: relative;
  background-color: var(--twoslash-error-bg);
  border-left: 3px solid var(--twoslash-error-color);
  color: var(--twoslash-error-color);
  padding: 6px 12px;
  margin: 0.2em 0;
  min-width: 100%;
  width: max-content;
}

.twoslash-error-line.twoslash-error-level-warning {
  background-color: var(--twoslash-warn-bg);
  border-left: 3px solid var(--twoslash-warn-color);
  color: var(--twoslash-warn-color);
}

.mint-twoslash-popover .twoslash-error {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 2px;
}

.mint-twoslash-popover .twoslash-error.twoslash-error-level-warning {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c37d0d'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 2px;
}

/* ===== Completeions ===== */
.mint-twoslash-popover .twoslash-completion-cursor {
  position: relative;
}

.mint-twoslash-popover .twoslash-completion-cursor .twoslash-completion-list {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 1.2em);
  margin: 3px 0 0 -1px;
  display: inline-block;
  z-index: 8;
  box-shadow: var(--twoslash-popup-shadow);
  background: var(--twoslash-popup-bg);
  border: 1px solid var(--twoslash-border-color);
}

.twoslash-completion-list {
  width: 240px;
  font-size: var(--twoslash-text-size);
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.twoslash-completion-list:hover {
  user-select: auto;
}

.twoslash-completion-list::before {
  background-color: var(--twoslash-cursor-color);
  width: 2px;
  position: absolute;
  top: -1.6em;
  height: 1.4em;
  left: -1px;
  content: ' ';
}

.twoslash-completion-list li {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.25em;
  line-height: 1em;
}

.twoslash-completion-list li span.twoslash-completions-unmatched {
  color: var(--twoslash-unmatched-color);
}

.twoslash-completion-list .deprecated {
  text-decoration: line-through;
  opacity: 0.5;
}

.twoslash-completion-list li span.twoslash-completions-matched {
  color: var(--twoslash-matched-color);
}

/* Highlights */
.twoslash-highlighted {
  background-color: var(--twoslash-highlighted-bg);
  border: 1px solid var(--twoslash-highlighted-border);
  padding: 1px 2px;
  margin: -1px -3px;
  border-radius: 4px;
}

/* Icons */
.twoslash-completion-list .twoslash-completions-icon {
  color: var(--twoslash-unmatched-color);
  width: 1em;
  flex: none;
}

/* Custom Tags */
.mint-twoslash-popover .twoslash-tag-line {
  position: relative;
  background-color: var(--twoslash-tag-bg);
  border-left: 3px solid var(--twoslash-tag-color);
  color: var(--twoslash-tag-color);
  padding: 6px 10px;
  margin: 0.2em 0;
  display: flex;
  align-items: center;
  gap: 0.3em;
  min-width: 100%;
  width: max-content;
}

.mint-twoslash-popover .twoslash-tag-line .twoslash-tag-icon {
  width: 1.1em;
  color: inherit;
}

.twoslash-tag-line.twoslash-tag-error-line {
  background-color: var(--twoslash-error-bg);
  border-left: 3px solid var(--twoslash-error-color);
  color: var(--twoslash-error-color);
}

.mint-twoslash-popover .twoslash-tag-line.twoslash-tag-warn-line {
  background-color: var(--twoslash-tag-warn-bg);
  border-left: 3px solid var(--twoslash-tag-warn-color);
  color: var(--twoslash-tag-warn-color);
}

.mint-twoslash-popover .twoslash-tag-line.twoslash-tag-annotate-line {
  background-color: var(--twoslash-tag-annotate-bg);
  border-left: 3px solid var(--twoslash-tag-annotate-color);
  color: var(--twoslash-tag-annotate-color);
}
