.mt-badge {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  font-weight: 500;
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.mt-badge[data-disabled="true"] {
  cursor: not-allowed;
  background-color: var(--color-bg-disabled);
  color: var(--color-text-disabled);
}

.mt-badge[data-shape="pill"] {
  border-radius: 9999px;
}

.mt-badge[data-stroke="true"] {
  outline: 1px solid rgb(11 12 14 / 8%);
  outline-offset: -1px;
}

@media (prefers-color-scheme: dark) {
  .mt-badge[data-stroke="true"] {
    outline-color: rgb(255 255 255 / 14%);
  }
}

/* stylelint-disable selector-max-type */
.mt-badge-xs svg,
.mt-badge-sm svg,
.mt-badge-md svg,
.mt-badge-lg svg {
  margin: 1px;
  background-color: var(--color-text);
}

.mt-badge[data-disabled="true"] svg {
  background-color: var(--color-text-disabled);
}

.mt-badge-icon {
  flex-shrink: 0;
  color: var(--color-text);
}

.mt-badge[data-disabled="true"] .mt-badge-icon {
  color: var(--color-text-disabled);
}

.mt-badge .mt-icon {
  color: var(--color-text);
}

.mt-badge[data-disabled="true"] .mt-icon {
  color: var(--color-text-disabled);
}

.mt-badge-xs {
  gap: 0.125rem;
  padding: 0 0.125rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.mt-badge-xs:has(svg),
.mt-badge-xs:has(.mt-icon) {
  padding-right: 0.25rem;
}

.mt-badge-xs[data-shape="rounded"] {
  border-radius: 0.25rem;
}

.mt-badge-sm {
  gap: 0.1875rem;
  padding: 0.125rem 0.125rem 0.125rem 0.1875rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.mt-badge-sm:has(svg),
.mt-badge-sm:has(.mt-icon) {
  padding-right: 0.375rem;
}

.mt-badge-sm[data-shape="rounded"] {
  border-radius: 0.375rem;
}

.mt-badge-md {
  gap: 0.25rem;
  padding: 0.125rem 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.01em;
}

.mt-badge-md:has(svg),
.mt-badge-md:has(.mt-icon) {
  padding-right: 0.5rem;
}

.mt-badge-md[data-shape="rounded"] {
  border-radius: 0.5rem;
}

.mt-badge-lg {
  gap: 0.25rem;
  padding: 0.25rem 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.01em;
}

.mt-badge-lg:has(svg),
.mt-badge-lg:has(.mt-icon) {
  padding-right: 0.625rem;
}

.mt-badge-lg[data-shape="rounded"] {
  border-radius: 0.5rem;
}

.mt-badge-gray {
  --color-bg: #f5f5f5;
  --color-text: #78787a;
  --color-bg-disabled: #f5f5f5;
  --color-text-disabled: #e9e9ea;
}

@media (prefers-color-scheme: dark) {
  .mt-badge-gray {
    --color-bg: #262727;
    --color-text: #d7d7d7;
    --color-bg-disabled: #262727;
    --color-text-disabled: #3c3c3d;
  }
}

.mt-badge-blue {
  --color-bg: #e3eafd;
  --color-text: #133a9a;
  --color-bg-disabled: #f0f4fe;
  --color-text-disabled: rgb(51 104 240 / 50%);
}

@media (prefers-color-scheme: dark) {
  .mt-badge-blue {
    --color-bg: #07296a;
    --color-text: #7196f4;
    --color-bg-disabled: #03153a;
    --color-text-disabled: rgb(51 104 240 / 30%);
  }
}

.mt-badge-green {
  --color-bg: #d1fae4;
  --color-text: #166e3f;
  --color-bg-disabled: #edfdf4;
  --color-text-disabled: rgb(38 189 108 / 50%);
}

@media (prefers-color-scheme: dark) {
  .mt-badge-green {
    --color-bg: #0f4c2c;
    --color-text: #6ae1a1;
    --color-bg-disabled: #072213;
    --color-text-disabled: rgb(38 189 108 / 30%);
  }
}

.mt-badge-orange {
  --color-bg: #fdead8;
  --color-text: #ae590a;
  --color-bg-disabled: #fef4ec;
  --color-text-disabled: rgb(244 142 47 / 50%);
}

@media (prefers-color-scheme: dark) {
  .mt-badge-orange {
    --color-bg: #613105;
    --color-text: #f8b577;
    --color-bg-disabled: #301903;
    --color-text-disabled: rgb(244 142 47 / 30%);
  }
}

.mt-badge-red {
  --color-bg: #fce5e4;
  --color-text: #9a1c13;
  --color-bg-disabled: #fdf2f1;
  --color-text-disabled: rgb(230 72 61 / 50%);
}

@media (prefers-color-scheme: dark) {
  .mt-badge-red {
    --color-bg: #64120d;
    --color-text: #f08b85;
    --color-bg-disabled: #360a07;
    --color-text-disabled: rgb(230 72 61 / 30%);
  }
}

.mt-badge-purple {
  --color-bg: #ecdffb;
  --color-text: #5314a3;
  --color-bg-disabled: #ecdffb;
  --color-text-disabled: rgb(135 61 230 / 50%);
}

@media (prefers-color-scheme: dark) {
  .mt-badge-purple {
    --color-bg: #3a0f71;
    --color-text: #b78af0;
    --color-bg-disabled: #3a0f71;
    --color-text-disabled: rgb(135 61 230 / 30%);
  }
}

.mt-badge-white {
  --color-bg: rgb(255 255 255 / 95%);
  --color-text: rgb(11 12 14 / 60%);
  --color-bg-disabled: rgb(255 255 255 / 8%);
  --color-text-disabled: #e9e9ea;
}

@media (prefers-color-scheme: dark) {
  .mt-badge-white {
    --color-bg: rgb(255 255 255 / 95%);
    --color-text: rgb(11 12 14 / 60%);
    --color-bg-disabled: rgb(255 255 255 / 24%);
    --color-text-disabled: #3c3c3d;
  }
}

.mt-badge-surface {
  --color-bg: rgb(255 255 255 / 95%);
  --color-text: #78787a;
  --color-bg-disabled: rgb(255 255 255 / 95%);
  --color-text-disabled: #e9e9ea;
}

@media (prefers-color-scheme: dark) {
  .mt-badge-surface {
    --color-bg: #262727;
    --color-text: #d7d7d7;
    --color-bg-disabled: #262727;
    --color-text-disabled: #3c3c3d;
  }
}

.mt-badge-white-destructive {
  --color-bg: rgb(255 255 255 / 95%);
  --color-text: #e6483d;
  --color-bg-disabled: rgb(255 255 255 / 8%);
  --color-text-disabled: rgb(230 72 61 / 30%);
}

@media (prefers-color-scheme: dark) {
  .mt-badge-white-destructive {
    --color-bg: rgb(255 255 255 / 95%);
    --color-text: #e6483d;
    --color-bg-disabled: rgb(255 255 255 / 24%);
    --color-text-disabled: rgb(230 72 61 / 40%);
  }
}

.mt-badge-surface-destructive {
  --color-bg: rgb(255 255 255 / 95%);
  --color-text: #e6483d;
  --color-bg-disabled: rgb(255 255 255 / 95%);
  --color-text-disabled: rgb(230 72 61 / 30%);
}

@media (prefers-color-scheme: dark) {
  .mt-badge-surface-destructive {
    --color-bg: #262727;
    --color-text: #e6483d;
    --color-bg-disabled: #262727;
    --color-text-disabled: rgb(230 72 61 / 40%);
  }
}
