@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable browser's default styling on select tags */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@layer components {
  .gray-frame {
    @apply bg-codeblock rounded-xl shadow-lg dark:ring-1 dark:ring-white/10 dark:ring-inset relative;
  }

  .code-in-gray-frame {
    @apply text-slate-50 p-5 min-w-full text-sm leading-6 overflow-x-auto;
  }
}
