@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable browser's default styling on select tags */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@layer components {
  .gray-frame {
    @apply bg-[#0F1117] rounded-[0.65rem] dark:ring-1 dark:ring-white/10 relative;
  }  

  .code-in-gray-frame {
    @apply text-slate-50 p-5 min-w-full text-sm leading-6 overflow-x-auto;
  }
}
