@import "tailwindcss";

@config "./tailwind.config.ts";

@source "../src/**/*.stories.{js,ts,jsx,tsx}";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-light: #ffffff;
  --color-background-dark: #0f0f10;
}
